# Maven
target/
*.log

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Configuración con credenciales sensibles
src/main/resources/config.properties